.backNav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: lightgray;
    padding: 0.8rem;
    border-radius: 10px;
    margin: 0;
    max-width: 60rem;
    margin: auto;
}

.backNav__Arrow {
    width:0;
    height: 0;
    display: inline-block;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent; 
    border-right: 0.6rem solid black; 
    margin-right: 1rem;
}